In [1]:
import pandas as pd

In [2]:
# Read in an csv file
df = pd.read_csv('report_guest_data_va.csv', header=1)

In [3]:
df.head()

,Organization Name,Organization Address,Organization City,Organization State,Organization ZIP,Jurisdiction,Organization Country,Phone,Status,Case Number,...,Primary,Suspected/Observed,Admission Comments,Rescue State,Rescue Juristiction,Rescue Address,Other Rescue Information,Latitude,Longitude,Elevation
0,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000095,...,Yes,Suspected,NaN,ID,Boise County,NaN,NaN,43.612476,-116.216784,817.056641
1,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000096,...,Yes,Suspected,NaN,TX,Brown County,NaN,NaN,28.778392,-89.033203,-403.770294
2,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000106,...,Yes,Suspected,NaN,FL,Duval County/City of Jacksonville,NaN,NaN,39.749282,-84.194842,224.742340
3,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000110,...,No,Observed,NaN,MN,Dakota County,NaN,NaN,NaN,NaN,NaN
4,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000110,...,Yes,Suspected,NaN,MN,Dakota County,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Organization Name', 'Organization Address', 'Organization City',
       'Organization State', 'Organization ZIP', 'Jurisdiction',
       'Organization Country', 'Phone', 'Status', 'Case Number', 'Patient ID',
       'Other Idenifier', 'Class', 'Common Species Name', 'Species',
       'Subspecies', 'Genus', 'TSN Code', 'Gender', 'Patient Flag',
       'Date Found', 'Time Found', 'Date Admitted', 'Time Admitted',
       'Details of rescue', 'Care Given', 'Circumstances of Rescue', 'Primary',
       'Suspected/Observed', 'Admission Comments', 'Rescue State',
       'Rescue Juristiction', 'Rescue Address', 'Other Rescue Information',
       'Latitude', 'Longitude', 'Elevation'],
      dtype='object')

# Target Schema for Mapping

In [ ]:
'Organization Name', 'Case Number', 'Patient ID', 'Common Species Name',
       'Date Admitted', 'Circumstances of Rescue', 'Rescue State',
       'Rescue Juristiction', 'Rescue Address', 'Other Rescue Information',
       'Latitude', 'Longitude', 'Elevation', 'Disposition'

## Drop Rows that have no Lat / Long information

In [5]:
# Count how many NaN values there are in the Latitude column
df['Latitude'].isnull().sum()

np.int64(168)

In [6]:
# Drop all rows with NaN values in the Latitude column
df = df.dropna(subset=['Latitude'])
assert df['Latitude'].isnull().sum() == 0

In [7]:
# Check that there are no rows with NaN values in the Longitude column
assert df['Longitude'].isnull().sum() == 0

## Inspecting Jurisdiction and Rescue State Info

In [18]:
df['Jurisdiction'].unique()

array(['Waynesboro (City)'], dtype=object)

In [19]:
df['Rescue State'].unique()

array(['ID', 'TX', 'FL', 'VA', 'MN', 'MD', 'CA', 'NJ', 'IL', 'OR', 'MI',
       'UT', 'IN', 'OH', 'WI', 'WA', 'VT', 'KA', 'NY', 'IA', 'AL', 'GA',
       'AK', 'CT', 'OK', 'ME', 'NC', 'NE', 'AR', 'KY', 'MO', 'PA', 'RI',
       'NV', 'AB', 'QC', 'BC', 'MB', 'MA', 'SC', 'NM', 'ND', 'MT', 'CO',
       'AZ'], dtype=object)

## Profiling Disposition

In [20]:
df['Care Given'].unique()

array([nan, 'offered water', 'Syringed water by mouth.', 'put in box',
       'Bottle fed pedialyte to rehydrate', 'none',
       'Put in box and covered', 'Put in empty ice chest',
       'usual first aid', 'water', 'Bowl of Water',
       'Covered and put in box', 'gave it hotdogs', 'nothing',
       'placed in box and transported to humane society',
       'fed water and chicken', 'no', 'FLUIDS', 'deer carcas', 'yes',
       'administered Sub Q Fluids, kept warm',
       'Applied helium gas to re-inflate', 'fed kitten milk',
       'Fed cows milk and cheerios', 'No', 'chicken legs', 'Put in a box',
       'offered water and bird seed', 'Offered water,kale,and apples',
       'fed water',
       "Painter's tape wrapped around the body, preventing duck from flapping",
       'kjhgkhg', 'fed caviar', 'eau', 'Transport',
       'Head Injury Protocols', 'sq fluids, metacam (1.5 mg/ml)', 'na',
       'half bottle of milk', 'put in box and driven directly to center',
       'none; brought immediately to rehab', 'brought inside for warmth',
       'put in cardboard pox with a warm towel.', 'immediate transport',
       'kept in box till found a place to take him', 'bread', 'fed bread',
       'None given.', 'Gave little water and some bird seed.',
       'care given. did not hand feed',
       'Provided water in bowl and heated blanket', 'Taken to Vets',
       'oral fluids', 'ORS toegediend, DEX gegeven',
       'water and scratch and mash', 'mouth-to-mouth rescessutation',
       'Rien', 'put in a box', 'gave food',
       'Kept in tank with heating lamp, fed turtle food and worms',
       'warmed and kept in box.', 'voice lessons',
       'Put in container with holes in lid, called rehabber',
       'finder tried to feed whole milk but they would not eat.'],
      dtype=object)

## Profiling Patient ID and Case Number (duplicates?)

In [20]:
# Check the Case Number column for duplicates
assert df['Case Number'].duplicated().sum() == 0

AssertionError:

In [19]:
# Print out the duplicated Case Numbers
df[df['Case Number'].duplicated(keep=False)][['Case Number', 'Patient ID']]

    Case Number        Patient ID
11   10-0000135          Blue 234
12   10-0000135          Blue 234
33   11-0001425               NaN
34   11-0001425               NaN
53   11-0007396               NaN
54   11-0007396               NaN
80   11-0010623            rthrth
81   11-0010623            rthrth
166  13-0000820               NaN
167  13-0000820               NaN
186  13-0031922      Woody, brown
187  13-0031922      Woody, brown
188  13-0031923       Jed, yellow
189  13-0031923       Jed, yellow
264  15-0014855        JosÃƒÂ©phine
265  15-0020320               NaN
266  15-0020320               NaN
299  16-0075828                ok
300  16-0075828                ok
338  19-0006124          BO 19-02
339  19-0006124          BO 19-02
480  10-0000105  RTHA 5000-10-555
481  10-0000105  RTHA 5000-10-555
503  17-0100773    MUD11/20/17003
504  17-0100773    MUD11/20/17003
516  15-0014855        JosÃƒÂ©phine