In [3]:
import pandas as pd

In [4]:
# Read in an csv file
df = pd.read_csv('report_guest_data_va.csv', header=1)

In [5]:
df.head()

,Organization Name,Organization Address,Organization City,Organization State,Organization ZIP,Jurisdiction,Organization Country,Phone,Status,Case Number,...,Primary,Suspected/Observed,Admission Comments,Rescue State,Rescue Juristiction,Rescue Address,Other Rescue Information,Latitude,Longitude,Elevation
0,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000095,...,Yes,Suspected,NaN,ID,Boise County,NaN,NaN,43.612476,-116.216784,817.056641
1,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000096,...,Yes,Suspected,NaN,TX,Brown County,NaN,NaN,28.778392,-89.033203,-403.770294
2,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000106,...,Yes,Suspected,NaN,FL,Duval County/City of Jacksonville,NaN,NaN,39.749282,-84.194842,224.742340
3,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000110,...,No,Observed,NaN,MN,Dakota County,NaN,NaN,NaN,NaN,NaN
4,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000110,...,Yes,Suspected,NaN,MN,Dakota County,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Organization Name', 'Organization Address', 'Organization City',
       'Organization State', 'Organization ZIP', 'Jurisdiction',
       'Organization Country', 'Phone', 'Status', 'Case Number', 'Patient ID',
       'Other Idenifier', 'Class', 'Common Species Name', 'Species',
       'Subspecies', 'Genus', 'TSN Code', 'Gender', 'Patient Flag',
       'Date Found', 'Time Found', 'Date Admitted', 'Time Admitted',
       'Details of rescue', 'Care Given', 'Circumstances of Rescue', 'Primary',
       'Suspected/Observed', 'Admission Comments', 'Rescue State',
       'Rescue Juristiction', 'Rescue Address', 'Other Rescue Information',
       'Latitude', 'Longitude', 'Elevation'],
      dtype='object')

# Target Schema for Mapping

In [7]:
'Organization Name', 'Case Number', 'Patient ID', 'Common Species Name',
       'Date Admitted', 'Circumstances of Rescue', 'Rescue State',
       'Rescue Juristiction', 'Rescue Address', 'Other Rescue Information',
       'Latitude', 'Longitude', 'Elevation', 'Disposition'

IndentationError: unexpected indent (2495075394.py, line 2)

## Drop Rows that have no Lat / Long information

In [ ]:
# Count how many NaN values there are in the Latitude column
df['Latitude'].isnull().sum()

np.int64(168)

In [ ]:
# Drop all rows with NaN values in the Latitude column
df = df.dropna(subset=['Latitude'])
assert df['Latitude'].isnull().sum() == 0

In [ ]:
# Check that there are no rows with NaN values in the Longitude column
assert df['Longitude'].isnull().sum() == 0

## Inspecting Jurisdiction and Rescue State Info

In [ ]:
df['Jurisdiction'].unique()

array(['Waynesboro (City)'], dtype=object)

In [ ]:
df['Rescue State'].unique()

array(['ID', 'TX', 'FL', 'VA', 'MN', 'MD', 'CA', 'NJ', 'IL', 'OR', 'MI',
       'UT', 'IN', 'OH', 'WI', 'WA', 'VT', 'KA', 'NY', 'IA', 'AL', 'GA',
       'AK', 'CT', 'OK', 'ME', 'NC', 'NE', 'AR', 'KY', 'MO', 'PA', 'RI',
       'NV', 'AB', 'QC', 'BC', 'MB', 'MA', 'SC', 'NM', 'ND', 'MT', 'CO',
       'AZ'], dtype=object)

## Profiling Disposition

In [ ]:
df['Care Given'].unique()

array([nan, 'offered water', 'Syringed water by mouth.', 'put in box',
       'Bottle fed pedialyte to rehydrate', 'none',
       'Put in box and covered', 'Put in empty ice chest',
       'usual first aid', 'water', 'Bowl of Water',
       'Covered and put in box', 'gave it hotdogs', 'nothing',
       'placed in box and transported to humane society',
       'fed water and chicken', 'no', 'FLUIDS', 'deer carcas', 'yes',
       'administered Sub Q Fluids, kept warm',
       'Applied helium gas to re-inflate', 'fed kitten milk',
       'Fed cows milk and cheerios', 'No', 'chicken legs', 'Put in a box',
       'offered water and bird seed', 'Offered water,kale,and apples',
       'fed water',
       "Painter's tape wrapped around the body, preventing duck from flapping",
       'kjhgkhg', 'fed caviar', 'eau', 'Transport',
       'Head Injury Protocols', 'sq fluids, metacam (1.5 mg/ml)', 'na',
       'half bottle of milk', 'put in box and driven directly to center',
       'none; brought immediately to rehab', 'brought inside for warmth',
       'put in cardboard pox with a warm towel.', 'immediate transport',
       'kept in box till found a place to take him', 'bread', 'fed bread',
       'None given.', 'Gave little water and some bird seed.',
       'care given. did not hand feed',
       'Provided water in bowl and heated blanket', 'Taken to Vets',
       'oral fluids', 'ORS toegediend, DEX gegeven',
       'water and scratch and mash', 'mouth-to-mouth rescessutation',
       'Rien', 'put in a box', 'gave food',
       'Kept in tank with heating lamp, fed turtle food and worms',
       'warmed and kept in box.', 'voice lessons',
       'Put in container with holes in lid, called rehabber',
       'finder tried to feed whole milk but they would not eat.'],
      dtype=object)

## Profiling Patient ID and Case Number (duplicates?)

In [ ]:
# Check the Case Number column for duplicates
assert df['Case Number'].duplicated().sum() == 0

AssertionError:

In [ ]:
# Print out a list of the duplicated Case Numbers
# df[df['Case Number'].duplicated(keep=False)][['Case Number', 'Patient ID']]
# df[df['Case Number'].duplicated(keep=False)]['Case Number']
duplicate_case_numbers = list(df[df['Case Number'].duplicated()]['Case Number'])
print(duplicate_case_numbers)
print(f"There are {len(duplicate_case_numbers)} duplicate case numbers")

['10-0000135', '11-0001425', '11-0007396', '11-0010623', '13-0000820', '13-0031922', '13-0031923', '15-0020320', '16-0075828', '19-0006124', '10-0000105', '17-0100773', '15-0014855']
There are 13 duplicate case numbers

In [ ]:
df[df['Case Number'] == duplicate_case_numbers[0]]

,Organization Name,Organization Address,Organization City,Organization State,Organization ZIP,Jurisdiction,Organization Country,Phone,Status,Case Number,...,Primary,Suspected/Observed,Admission Comments,Rescue State,Rescue Juristiction,Rescue Address,Other Rescue Information,Latitude,Longitude,Elevation
11,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000135,...,No,Suspected,NaN,NJ,Middlesex County,NaN,NaN,40.502189,-74.40659,38.416168
12,Visitor WILD-ONe Account,1800 South Delphine Ave PO Box 1557,Waynesboro,VA,22980,Waynesboro (City),United States,(540) 942-9453,Active,10-0000135,...,Yes,Suspected,NaN,NJ,Middlesex County,NaN,NaN,40.502189,-74.40659,38.416168

## Animal Mapping

### Class

In [8]:
df['Class'].unique()

array(['Reptiles', 'Birds', 'Mammals', 'mammals'], dtype=object)

In [9]:
mapping = {
    'Reptiles': 'Reptiles',
    'Birds': 'Birds',
    'Mammals': 'Mammals',
    'mammals': 'Mammals',
}

df.loc[:, 'Class'] = df['Class'].str.lower().map(mapping).fillna(df['Class'])
df['Class'].unique()

array(['Reptiles', 'Birds', 'Mammals'], dtype=object)

### Common name

In [10]:
df['Common Species Name'].unique()

array(['Brown Wood Turtle', 'Vermilion Flycatcher', 'Red-tailed Hawk',
       'Blue Jay', 'eastern gray squirrel', 'southern flying squirrel',
       'Barred Owl', 'Turkey Vulture', 'American Robin', 'Green Heron',
       'Mallard', 'black-tailed jack rabbit', 'Eastern Box Turtle',
       'Raccoon', 'big brown bat', 'Northwestern Crow', 'Fish Crow',
       'Key West Quail-Dove', 'Northern Cardinal', 'Red Fox',
       'Gopher Tortoise', 'Eastern Cottontail', 'Black-billed Magpie',
       'gray wolf', 'Black-bellied Whistling Duck', 'Rock Pigeon',
       'Bald Eagle', 'black-tailed deer', 'Virginia Opossum',
       'Cascade golden-mantled ground squirrel', 'common raccoon',
       'American Black Duck', 'Bobcat', 'Common Opossum', 'Gyrfalcon',
       'Herring Gull', 'Mourning Dove', 'Yellow-crowned Night-Heron',
       'Great Horned Owl', 'American Kestrel',
       'Amazonian White-tailed Trogon', 'Northern Mockingbird',
       'American Crow', 'Brown Pelican', 'common box turtle', 'Barn Owl',
       'Muscovy Duck', 'South American Dusky Dolphin',
       'Black-and-white Warbler', 'Lesser Black-backed Gull',
       'Common Loon', 'Alaska marmot', 'rhesus macaque',
       'Florida Box Turtle', 'Red-shouldered Hawk',
       'Florida softshell turtle', 'Laughing Gull', 'Alabama beach mouse',
       'House Sparrow', 'Rock Dove', 'Southern Black Racer',
       'Northern Gannet', 'white-tailed deer', 'Common Black-Hawk',
       'Marsh Rabbit', 'Eastern Painted Turtle', 'Common Buzzard',
       'Alaskan Hare', 'Ruby-throated Hummingbird',
       'Double-crested Cormorant', 'loggerhead sea turtle',
       'Green Sea Turtle', 'Eastern Screech-Owl', 'blue fox',
       "Cooper's Hawk", 'Common Myna', 'Clay-colored Robin',
       "Bachman's Sparrow", 'Coyote', 'Arizona Black Rattlesnake',
       'Canada Goose', 'eastern fox squirrel', 'American Coot', 'muskrat',
       'Alabama Red-bellied Cooter', 'fox squirrel',
       'Northern Saw-whet Owl', 'rock squirrel', 'Least Weasel',
       'common green sea turtle', 'Arizona Coral Snake',
       "Swainson's Hawk", 'Red-bellied Woodpecker', 'gray squirrel',
       'Nayarit squirrel', "Harris's Hawk",
       'Virginia northern flying squirrel', 'Domestic Rabbit',
       'Striped Skunk', 'Big Cypress fox squirrel', 'woodchuck',
       'Dismal Swamp southeastern shrew', 'European Honey Buzzard',
       'Common Garter Snake', 'white-sided jack rabbit', 'Wood Duck',
       'Mute Swan', 'Black-masked Racer', 'Raccoon dog', 'Common Pigeon',
       'American Hog-nosed Skunk', 'northern raccoon', 'Domestic Duck',
       'Hairy Woodpecker', 'African Black Duck', 'American Tree Sparrow',
       'European Starling', 'Chipping Sparrow', 'Blue Racer',
       'North American Porcupine', 'Antelope Jackrabbit',
       'Black-capped Chickadee', 'Milk Snake',
       'Brazilian Gracile Opossum', 'Bay-breasted Warbler', 'Osprey',
       'Pileated Woodpecker', 'Black Kite', 'Boreal Chickadee',
       'Booted Eagle', 'Acadian Flycatcher', 'Red-lored Amazon',
       'eastern woodrat', 'Congo African Grey Parrot', 'White Cockatoo',
       'Blue-crowned Lorikeet', 'Koala', 'red squirrel',
       'little brown bat', 'Shiny Cowbird', 'Yellow-billed Cuckoo',
       'Black-tailed Jackrabbit', 'Common ringtail possum',
       'Common Kestrel', 'Gray Fox', 'Arizona gray squirrel',
       'European Badger', 'Black-backed Jackal', 'American Golden Plover',
       'Brush-tailed Phascogale', 'Maned Wolf',
       'American Peregrine Falcon', 'Afro-American House Gecko',
       'Common Blackbird', 'Gray Seal', 'Lesser Scaup',
       'American Golden-Plover', 'Domestic Guinea Pig',
       'Great Blue Heron', 'Red-fronted Parrotlet', 'Akikiki',
       'House Finch', 'Marsh Owl', 'Harbor Seal',
       'Eastern Collared Lizard', 'Rainbow Lorikeet',
       'Reticulated Python', 'Snapping Turtle', 'Florida mud turtle',
       'Cackling Goose', 'Ruddy Duck', 'Eastern Mud Turtle',
       'eastern chipmunk', 'Short-toed Rock Thrush'], dtype=object)

In [12]:
mapping = {
    'brown wood turtle': 'Brown Wood Turtle',
    'vermilion flycatcher': 'Vermilion Flycatcher',
    'red-tailed hawk': 'Red-Tailed Hawk',
    'eastern gray squirrel': 'Eastern Gray Squirrel',
    'southern flying squirrel': 'Southern Flying Squirrel',
    'barred owl': 'Barred Owl',
    'turkey vulture': 'Turkey Vulture',
    'american robin': 'American Robin',
    'green heron': 'Green Heron',
    'mallard': 'Mallard',
    'black-tailed jack rabbit': 'Black-Tailed Jackrabbit',
    'raccoon': 'Common Raccoon',
    'big brown bat': 'Big Brown Bat',
    'northwestern crow': 'Northwestern Crow',
    'fish crow': 'Fish Crow',
    'northern cardinal': 'Northern Cardinal',
    'red fox': 'Red Fox',
    'eastern cottontail': 'Eastern Cottontail',
    'black-billed magpie': 'Black-Billed Magpie',
    'rock pigeon': 'Rock Pigeon',
    'black-tailed deer': 'Black-Tailed Deer',
    'virginia opossum': 'Virginia Opossum',
    'cascade golden-mantled ground squirrel': 'Cascade Golden-Mantled Ground Squirrel',
    'common raccoon': 'Common Raccoon',
    'common opossum': 'Common Opossum',
    'gyrfalcon': 'Gyrfalcon',
    'bald eagle': 'Bald Eagle',
    'yellow-crowned night-heron': 'Yellow-Crowned Night-Heron',
    'mourning dove': 'Mourning Dove',
    'american kestrel': 'American Kestrel',
    'common box turtle': 'Common Box Turtle',
    'south american dusky dolphin': 'South American Dusky Dolphin',
    'black-and-white warbler': 'Black-And-White Warbler',
    'lesser black-backed gull': 'Lesser Black-Backed Gull',
    'florida box turtle': 'Florida Box Turtle',
    'red-shouldered hawk': 'Red-Shouldered Hawk',
    'brown pelican': 'Brown Pelican',
    'florida softshell turtle': 'Florida Softshell Turtle',
    'laughing gull': 'Laughing Gull',
    'rock dove': 'Rock Dove',
    'southern black racer': 'Southern Black Racer',
    'northern gannet': 'Northern Gannet',
    'eastern painted turtle': 'Eastern Painted Turtle',
    'common buzzard': 'Common Buzzard',
    'ruby-throated hummingbird': 'Ruby-Throated Hummingbird',
    'double-crested cormorant': 'Double-Crested Cormorant',
    'loggerhead sea turtle': 'Loggerhead Sea Turtle',
    'green sea turtle': 'Green Sea Turtle',
    'eastern screech-owl': 'Eastern Screech-Owl',
    'eastern box turtle': 'Eastern Box Turtle',
    'blue fox': 'Blue Fox',
    "cooper's hawk": "Cooper's Hawk",
    'common myna': 'Common Myna',
    'american crow': 'American Crow',
    'clay-colored robin': 'Clay-Colored Robin',
    "bachman's sparrow": "Bachman's Sparrow",
    'gray wolf': 'Gray Wolf',
    'coyote': 'Coyote',
    'arizona black rattlesnake': 'Arizona Black Rattlesnake',
    'canada goose': 'Canada Goose',
    'eastern fox squirrel': 'Eastern Fox Squirrel',
    'american coot': 'American Coot',
    'muskrat': 'Muskrat',
    'alabama red-bellied cooter': 'Alabama Red-Bellied Cooter',
    'fox squirrel': 'Fox Squirrel',
    'northern saw-whet owl': 'Northern Saw-Whet Owl',
    'rock squirrel': 'Rock Squirrel',
    'least weasel': 'Least Weasel',
    'common green sea turtle': 'Green Sea Turtle',
    'arizona coral snake': 'Arizona Coral Snake',
    "swainson's hawk": "Swainson's Hawk",
    'red-bellied woodpecker': 'Red-Bellied Woodpecker',
    'nayarit squirrel': 'Nayarit Squirrel',
    "harris's hawk": "Harris's Hawk",
    'virginia northern flying squirrel': 'Virginia Northern Flying Squirrel',
    'domestic rabbit': 'Domestic Rabbit',
    'striped skunk': 'Striped Skunk',
    'big cypress fox squirrel': 'Fox Squirrel',
    'woodchuck': 'Woodchuck',
    'dismal swamp southeastern shrew': 'Dismal Swamp Southeastern Shrew',
    'european honey buzzard': 'European Honey Buzzard',
    'common garter snake': 'Common Garter Snake',
    'white-sided jack rabbit': 'White-Sided Jackrabbit',
    'wood duck': 'Wood Duck',
    'mute swan': 'Mute Swan',
    'northern mockingbird': 'Northern Mockingbird',
    'black-masked racer': 'Black-Masked Racer',
    'raccoon dog': 'Raccoon Dog',
    'common pigeon': 'Common Pigeon',
    'american hog-nosed skunk': 'American Hog-Nosed Skunk',
    'northern raccoon': 'Common Raccoon',
    'domestic duck': 'Domestic Duck',
    'hairy woodpecker': 'Hairy Woodpecker',
    'great horned owl': 'Great Horned Owl',
    'african black duck': 'African Black Duck',
    'american tree sparrow': 'American Tree Sparrow',
    'european starling': 'European Starling',
    'chipping sparrow': 'Chipping Sparrow',
    'blue racer': 'Blue Racer',
    'white-tailed deer': 'White-Tailed Deer',
    'north american porcupine': 'North American Porcupine',
    'antelope jackrabbit': 'Antelope Jackrabbit',
    'blue jay': 'Blue Jay',
    'black-capped chickadee': 'Black-Capped Chickadee',
    'milk snake': 'Milk Snake',
    'brazilian gracile opossum': 'Brazilian Gracile Opossum',
    'bay-breasted warbler': 'Bay-Breasted Warbler',
    'osprey': 'Osprey',
    'boreal chickadee': 'Boreal Chickadee',
    'booted eagle': 'Booted Eagle',
    'common ringtail possum': 'Ringtail Possum',
    'koala': 'Koala',
    'gray seal': 'Gray Seal',
    'lesser scaup': 'Lesser Scaup',
    'american golden-plover': 'American Golden-Plover',
    'domestic guinea pig': 'Domestic Guinea Pig',
    'great blue heron': 'Great Blue Heron',
    'common loon': 'Common Loon',
    'house finch': 'House Finch',
    'marsh owl': 'Marsh Owl',
    'harbor seal': 'Harbor Seal',
    'gray fox': 'Gray Fox',
    'snapping turtle': 'Snapping Turtle',
    'cackling goose': 'Cackling Goose',
    'barn owl': 'Barn Owl',
    'ruddy duck': 'Ruddy Duck',
    'eastern mud turtle': 'Eastern Mud Turtle',
    'eastern chipmunk': 'Eastern Chipmunk',
    'short-toed rock thrush': 'Short-Toed Rock Thrush'
}

df.loc[:, 'Common Species Name'] = df['Common Species Name'].str.lower().map(mapping).fillna(df['Common Species Name'])
df['Common Species Name'].unique()

array(['Brown Wood Turtle', 'Vermilion Flycatcher', 'Red-Tailed Hawk',
       'Blue Jay', 'Eastern Gray Squirrel', 'Southern Flying Squirrel',
       'Barred Owl', 'Turkey Vulture', 'American Robin', 'Green Heron',
       'Mallard', 'Black-Tailed Jackrabbit', 'Eastern Box Turtle',
       'Common Raccoon', 'Big Brown Bat', 'Northwestern Crow',
       'Fish Crow', 'Key West Quail-Dove', 'Northern Cardinal', 'Red Fox',
       'Gopher Tortoise', 'Eastern Cottontail', 'Black-Billed Magpie',
       'Gray Wolf', 'Black-bellied Whistling Duck', 'Rock Pigeon',
       'Bald Eagle', 'Black-Tailed Deer', 'Virginia Opossum',
       'Cascade Golden-Mantled Ground Squirrel', 'American Black Duck',
       'Bobcat', 'Common Opossum', 'Gyrfalcon', 'Herring Gull',
       'Mourning Dove', 'Yellow-Crowned Night-Heron', 'Great Horned Owl',
       'American Kestrel', 'Amazonian White-tailed Trogon',
       'Northern Mockingbird', 'American Crow', 'Brown Pelican',
       'Common Box Turtle', 'Barn Owl', 'Muscovy Duck',
       'South American Dusky Dolphin', 'Black-And-White Warbler',
       'Lesser Black-Backed Gull', 'Common Loon', 'Alaska marmot',
       'rhesus macaque', 'Florida Box Turtle', 'Red-Shouldered Hawk',
       'Florida Softshell Turtle', 'Laughing Gull', 'Alabama beach mouse',
       'House Sparrow', 'Rock Dove', 'Southern Black Racer',
       'Northern Gannet', 'White-Tailed Deer', 'Common Black-Hawk',
       'Marsh Rabbit', 'Eastern Painted Turtle', 'Common Buzzard',
       'Alaskan Hare', 'Ruby-Throated Hummingbird',
       'Double-Crested Cormorant', 'Loggerhead Sea Turtle',
       'Green Sea Turtle', 'Eastern Screech-Owl', 'Blue Fox',
       "Cooper's Hawk", 'Common Myna', 'Clay-Colored Robin',
       "Bachman's Sparrow", 'Coyote', 'Arizona Black Rattlesnake',
       'Canada Goose', 'Eastern Fox Squirrel', 'American Coot', 'Muskrat',
       'Alabama Red-Bellied Cooter', 'Fox Squirrel',
       'Northern Saw-Whet Owl', 'Rock Squirrel', 'Least Weasel',
       'Arizona Coral Snake', "Swainson's Hawk", 'Red-Bellied Woodpecker',
       'gray squirrel', 'Nayarit Squirrel', "Harris's Hawk",
       'Virginia Northern Flying Squirrel', 'Domestic Rabbit',
       'Striped Skunk', 'Woodchuck', 'Dismal Swamp Southeastern Shrew',
       'European Honey Buzzard', 'Common Garter Snake',
       'White-Sided Jackrabbit', 'Wood Duck', 'Mute Swan',
       'Black-Masked Racer', 'Raccoon Dog', 'Common Pigeon',
       'American Hog-Nosed Skunk', 'Domestic Duck', 'Hairy Woodpecker',
       'African Black Duck', 'American Tree Sparrow', 'European Starling',
       'Chipping Sparrow', 'Blue Racer', 'North American Porcupine',
       'Antelope Jackrabbit', 'Black-Capped Chickadee', 'Milk Snake',
       'Brazilian Gracile Opossum', 'Bay-Breasted Warbler', 'Osprey',
       'Pileated Woodpecker', 'Black Kite', 'Boreal Chickadee',
       'Booted Eagle', 'Acadian Flycatcher', 'Red-lored Amazon',
       'eastern woodrat', 'Congo African Grey Parrot', 'White Cockatoo',
       'Blue-crowned Lorikeet', 'Koala', 'red squirrel',
       'little brown bat', 'Shiny Cowbird', 'Yellow-billed Cuckoo',
       'Black-tailed Jackrabbit', 'Ringtail Possum', 'Common Kestrel',
       'Gray Fox', 'Arizona gray squirrel', 'European Badger',
       'Black-backed Jackal', 'American Golden Plover',
       'Brush-tailed Phascogale', 'Maned Wolf',
       'American Peregrine Falcon', 'Afro-American House Gecko',
       'Common Blackbird', 'Gray Seal', 'Lesser Scaup',
       'American Golden-Plover', 'Domestic Guinea Pig',
       'Great Blue Heron', 'Red-fronted Parrotlet', 'Akikiki',
       'House Finch', 'Marsh Owl', 'Harbor Seal',
       'Eastern Collared Lizard', 'Rainbow Lorikeet',
       'Reticulated Python', 'Snapping Turtle', 'Florida mud turtle',
       'Cackling Goose', 'Ruddy Duck', 'Eastern Mud Turtle',
       'Eastern Chipmunk', 'Short-Toed Rock Thrush'], dtype=object)

### Species (latin/scientific) name

In [13]:
df['Species'].unique()

array(['annulata', 'rubinus', 'jamaicensis', 'cristata', 'carolinensis',
       'volans', 'varia', 'aura', 'migratorius', 'virescens',
       'platyrhynchos', 'californicus', 'carolina', 'lotor', 'fuscus',
       'caurinus', 'ossifragus', 'chrysia', 'cardinalis', 'vulpes',
       'polyphemus', 'floridanus', 'hudsonia', 'lupus', 'autumnalis',
       'livia', 'leucocephalus', 'hemionus', 'virginiana', 'saturatus',
       'rubripes', 'rufus', 'marsupialis', 'rusticolus', 'argentatus',
       'macroura', 'violacea', 'virginianus', 'sparverius', 'viridis',
       'polyglottos', 'brachyrhynchos', 'occidentalis', 'alba',
       'moschata', 'obscurus', 'immer', 'broweri', 'mulatta', 'lineatus',
       'ferox', 'atricilla', 'polionotus', 'domesticus', 'constrictor',
       'bassanus', 'anthracinus', 'palustris', 'picta', 'buteo', 'othus',
       'colubris', 'auritus', 'caretta', 'mydas', 'asio', 'lagopus',
       'cooperii', 'tristis', 'grayi', 'aestivalis', 'latrans',
       'oreganus', 'canadensis', 'niger', 'americana', 'zibethicus',
       'alabamensis', 'acadicus', 'variegatus', 'nivalis', 'euryxanthus',
       'swainsoni', 'carolinus', 'nayaritensis', 'unicinctus', 'sabrinus',
       'cuniculus', 'mephitis', 'monax', 'longirostris', 'apivorus',
       'sirtalis', 'callotis', 'sponsa', 'olor', 'procyonoides',
       'leuconotus', 'sp.', 'villosus', 'sparsaÂ\xa0Â\xa0', 'arborea',
       'vulgaris', 'passerina', 'dorsatus', 'alleni', 'atricapillus',
       'triangulum', 'microtarsus', 'castanea', 'haliaetus', 'pileatus',
       'migrans', 'hudsonica', 'pennatus', 'autumnalisÂ\xa0Â\xa0',
       'floridana', 'erithacus', 'albaÂ\xa0', 'australis', 'cinereus',
       'hudsonicus', 'lucifugus', 'bonariensis', 'americanus',
       'peregrinus', 'tinnunculus', 'cinereoargenteus', 'arizonensis',
       'meles', 'mesomelas', 'pica', 'dominica', 'tapoatafa',
       'brachyurus', 'mabouia', 'merula', 'grypus', 'affinis',
       'porcellus', 'herodias', 'costaricensis', 'bairdi', 'mexicanus',
       'capensisÂ\xa0Â\xa0', 'vitulina', 'collaris', 'haematodus',
       'reticulatus', 'serpentina', 'subrubrum', 'hutchinsii', 'striatus',
       'brevipes'], dtype=object)

In [14]:
mapping = {
    'annulata': 'annulata',
    'rubinus': 'rubinus',
    'jamaicensis': 'jamaicensis',
    'carolinensis': 'carolinensis',
    'volans': 'volans',
    'varia': 'varia',
    'aura': 'aura',
    'migratorius': 'migratorius',
    'virescens': 'virescens',
    'platyrhynchos': 'platyrhynchos',
    'californicus': 'californicus',
    'lotor': 'lotor',
    'fuscus': 'fuscus',
    'caurinus': 'caurinus',
    'ossifragus': 'ossifragus',
    'cardinalis': 'cardinalis',
    'vulpes': 'vulpes',
    'floridanus': 'floridanus',
    'hudsonia': 'hudsonia',
    'livia': 'livia',
    'hemionus': 'hemionus',
    'virginiana': 'virginiana',
    'saturatus': 'saturatus',
    'marsupialis': 'marsupialis',
    'rusticolus': 'rusticolus',
    'leucocephalus': 'leucocephalus',
    'violacea': 'violacea',
    'macroura': 'macroura',
    'sparverius': 'sparverius',
    'carolina': 'carolina',
    'obscurus': 'obscurus',
    'lineatus': 'lineatus',
    'occidentalis': 'occidentalis',
    'ferox': 'ferox',
    'atricilla': 'atricilla',
    'constrictor': 'constrictor',
    'bassanus': 'bassanus',
    'picta': 'picta',
    'buteo': 'buteo',
    'colubris': 'colubris',
    'auritus': 'auritus',
    'caretta': 'caretta',
    'mydas': 'mydas',
    'asio': 'asio',
    'lagopus': 'lagopus',
    'cooperii': 'cooperii',
    'tristis': 'tristis',
    'brachyrhynchos': 'brachyrhynchos',
    'grayi': 'grayi',
    'aestivalis': 'aestivalis',
    'lupus': 'lupus',
    'latrans': 'latrans',
    'oreganus': 'oreganus',
    'canadensis': 'canadensis',
    'niger': 'niger',
    'americana': 'americana',
    'zibethicus': 'zibethicus',
    'alabamensis': 'alabamensis',
    'acadicus': 'acadicus',
    'variegatus': 'variegatus',
    'nivalis': 'nivalis',
    'euryxanthus': 'euryxanthus',
    'swainsoni': 'swainsoni',
    'carolinus': 'carolinus',
    'nayaritensis': 'nayaritensis',
    'unicinctus': 'unicinctus',
    'sabrinus': 'sabrinus',
    'cuniculus': 'cuniculus',
    'mephitis': 'mephitis',
    'monax': 'monax',
    'longirostris': 'longirostris',
    'apivorus': 'apivorus',
    'sirtalis': 'sirtalis',
    'callotis': 'callotis',
    'sponsa': 'sponsa',
    'olor': 'olor',
    'polyglottos': 'polyglottos',
    'procyonoides': 'procyonoides',
    'leuconotus': 'leuconotus',
    'villosus': 'villosus',
    'virginianus': 'virginianus',  # Two animals have the same genuis but different species 
    'sparsaÂ\xa0Â\xa0': 'sparsa',  # Removing special characters
    'arborea': 'arborea',
    'vulgaris': 'vulgaris',
    'passerina': 'passerina',
    'dorsatus': 'dorsatus',
    'alleni': 'alleni',
    'cristata': 'cristata',
    'atricapillus': 'atricapillus',
    'triangulum': 'triangulum',
    'microtarsus': 'microtarsus',
    'castanea': 'castanea',
    'haliaetus': 'haliaetus',
    'hudsonica': 'hudsonicus',  # Correcting 'hudsonica' to 'hudsonicus'
    'pennatus': 'pennatus',
    'peregrinus': 'peregrinus',
    'cinereus': 'cinereus',
    'grypus': 'grypus',
    'affinis': 'affinis',
    'dominica': 'dominica',
    'porcellus': 'porcellus',
    'herodias': 'herodias',
    'immer': 'immer',
    'mexicanus': 'mexicanus',
    'capensisÂ\xa0Â\xa0': 'capensis',  # Removing special characters
    'vitulina': 'vitulina',
    'cinereoargenteus': 'cinereoargenteus',
    'serpentina': 'serpentina',
    'hutchinsii': 'hutchinsii',
    'alba': 'alba',
    'subrubrum': 'subrubrum',
    'striatus': 'striatus',
    'brevipes': 'brevipes',
}
df.loc[:, 'Species'] = df['Species'].str.lower().map(mapping).fillna(df['Species'])
df['Species'].unique()

array(['annulata', 'rubinus', 'jamaicensis', 'cristata', 'carolinensis',
       'volans', 'varia', 'aura', 'migratorius', 'virescens',
       'platyrhynchos', 'californicus', 'carolina', 'lotor', 'fuscus',
       'caurinus', 'ossifragus', 'chrysia', 'cardinalis', 'vulpes',
       'polyphemus', 'floridanus', 'hudsonia', 'lupus', 'autumnalis',
       'livia', 'leucocephalus', 'hemionus', 'virginiana', 'saturatus',
       'rubripes', 'rufus', 'marsupialis', 'rusticolus', 'argentatus',
       'macroura', 'violacea', 'virginianus', 'sparverius', 'viridis',
       'polyglottos', 'brachyrhynchos', 'occidentalis', 'alba',
       'moschata', 'obscurus', 'immer', 'broweri', 'mulatta', 'lineatus',
       'ferox', 'atricilla', 'polionotus', 'domesticus', 'constrictor',
       'bassanus', 'anthracinus', 'palustris', 'picta', 'buteo', 'othus',
       'colubris', 'auritus', 'caretta', 'mydas', 'asio', 'lagopus',
       'cooperii', 'tristis', 'grayi', 'aestivalis', 'latrans',
       'oreganus', 'canadensis', 'niger', 'americana', 'zibethicus',
       'alabamensis', 'acadicus', 'variegatus', 'nivalis', 'euryxanthus',
       'swainsoni', 'carolinus', 'nayaritensis', 'unicinctus', 'sabrinus',
       'cuniculus', 'mephitis', 'monax', 'longirostris', 'apivorus',
       'sirtalis', 'callotis', 'sponsa', 'olor', 'procyonoides',
       'leuconotus', 'sp.', 'villosus', 'sparsaÂ\xa0Â\xa0', 'arborea',
       'vulgaris', 'passerina', 'dorsatus', 'alleni', 'atricapillus',
       'triangulum', 'microtarsus', 'castanea', 'haliaetus', 'pileatus',
       'migrans', 'hudsonicus', 'pennatus', 'autumnalisÂ\xa0Â\xa0',
       'floridana', 'erithacus', 'albaÂ\xa0', 'australis', 'cinereus',
       'lucifugus', 'bonariensis', 'americanus', 'peregrinus',
       'tinnunculus', 'cinereoargenteus', 'arizonensis', 'meles',
       'mesomelas', 'pica', 'dominica', 'tapoatafa', 'brachyurus',
       'mabouia', 'merula', 'grypus', 'affinis', 'porcellus', 'herodias',
       'costaricensis', 'bairdi', 'mexicanus', 'capensisÂ\xa0Â\xa0',
       'vitulina', 'collaris', 'haematodus', 'reticulatus', 'serpentina',
       'subrubrum', 'hutchinsii', 'striatus', 'brevipes'], dtype=object)